.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: var(--main-text-color);
	background-color: var(--main-background);
}

.container {
	@include adaptive_padding();
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	max-width: var(--content-width);

	&.-fluid {
		max-width: none;
	}

	&.-scroll-x {
		.container__scroll-box {
			overflow-x: auto;
		}
	}
}
