.app-search {
	display: flex;
	align-items: center;
	height: 24px;
	margin: auto 0;
	border-radius: var(--root-radius);
	border: 1px solid rgba(0,0,0,0);
	transition: border-color 0.1s ease-in-out;

	&:hover, &.-active {
		border-color: var(--border-color);

		.app-search__field {
			width: 20vw;
		}
	}

	&__icon {
		display: inline-flex;
		align-items: center;
		width: 20px;
		height: 20px;
		color: var(--secondary-text-color);
		cursor: pointer;
	}

	&__field {
		display: inline-flex;
		width: 60px;
		padding: 0 8px;
		transition: width 0.2s ease-in-out;

		input {
			width: inherit;
		}
	}
}
