
.notification-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--inner-padding);
	color: currentColor;
	transition: color 0.1s ease-in-out;

	img, svg {
		width: 24px;
		height: 24px;
	}

	&:hover, &.-active, &.-open {
		color: var(--primary-color);
	}
}

.navigation-toggle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--header-height);
	height: var(--header-height);
	font-size: 40px;
	line-height: 40px;
	color: white;
	background-color: var(--primary-color);

	&__icon {
		display: block;
		margin: auto;
		font: inherit;
		transition: opacity 0.2s ease-in-out;

		&.-closed  {
			opacity: 1;
			z-index: 1;
			position: static;
		}

		&.-opened {
			opacity: 0;
			z-index: 0;
			position: absolute;
		}
	}

	&.-opened-mobile {
		.navigation-toggle__icon {
			&.-opened {
				opacity: 1;
				z-index: 1;
				position: static;
			}

			&.-closed {
				opacity: 0;
				z-index: 0;
				position: absolute;
			}
		}
	}
}
